/* Hero.css */
.scroll-0 {
    transition: transform 0.5s;
    transform: translateY(0);
    opacity: 100;
  }
  
  .scroll-100 {
    transition: transform 0.5s;
    transform: translateY(-100vh);
    opacity: 0;
    
  }
  